body{
    background-color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

form{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 5px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

form div{
    display: flex;
    flex-direction: column;
}

.form1Children__label{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}